# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env
.env.*

# SQLite DBs
*.db
*.sqlite3

# Test and coverage artifacts
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
test-results/

# MyPy, Pylint, and other reports
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# FastAPI CLI
.fastapi/

# Jupyter Notebooks
.ipynb_checkpoints/
